body {
    background-color: #f4f4f4;
    font-family: sans-serif;
    text-align: center;
}

* {
    outline: none;
}

.main {
    max-width: 300px;
    margin: 100px auto;
}

.title {
    font-size: 25px;
    font-weight: 500;
}

select {
    margin: 20px 0;
}